<!-- templates/main/table.html -->

{% extends 'main/base.html' %}

{% block product_content %}
<h1 class="table-title">Product List</h1>
<table class="product-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<style>
    table {
        margin-bottom: 28px;
    }
</style>
{% endblock %}