/* styles.css */

body {
    margin: 0;
    padding: 0;
    background: #ecc09c;
    overflow-x: hidden;
}

header {
    background: #f8c89b; 
    padding: 15px 0; 
    border-bottom: 1px solid #ddd; 
}

main {
    margin-top: 1rem;
}

footer {
    background: #f8c89b; 
    padding: 15px 0; 
    border-bottom: 1px solid #ddd; 
}

.site-icon {
    cursor: default;
    width: 250px;
}

.form-control {
    width: 800px; 
    margin-right: 10px; 
}

.nav-item {
    margin-right: 20px; 
}

.nav-link {
    color: #000000; 
    font-weight: bold; 
    text-decoration: none; 
}

.nav-item.active .nav-link {
    color: #007bff; 
}

.product-card {
    height: 100%;
}

.table-title {
    text-align: center;
    margin-bottom: 20px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th, .product-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.product-table th {
    background-color: #f2f2f2;
}

.product-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-table tr:hover {
    background-color: #dddddd;
}


/* forms reg log */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-container button[type="submit"]:hover {
    background-color: #0056b3;
}

.form-container .form-footer {
    margin-top: 20px;
    text-align: center;
}

.form-container .form-footer a {
    color: #007bff;
    text-decoration: none;
}

.form-container .form-footer a:hover {
    text-decoration: underline;
}
