/* styles.css */

body {
    margin: 0;
    padding: 0;
    background: #ecc09c;
    overflow-x: hidden;
}

header {
    background: #f8c89b; 
    padding: 15px 0; 
    border-bottom: 1px solid #ddd; 
}

main {
    margin-top: 1rem;
}

footer {
    background: #f8c89b; 
    padding: 15px 0; 
    border-bottom: 1px solid #ddd; 
}

.site-icon {
    cursor: default;
    width: 250px;
}

.form-control {
    width: 800px; 
    margin-right: 10px; 
}

.nav-item {
    margin-right: 20px; 
}

.nav-link {
    color: #000000; 
    font-weight: bold; 
    text-decoration: none; 
}

.nav-item.active .nav-link {
    color: #007bff; 
}

.product-card {
    height: 100%;
}

.table-title {
    text-align: center;
    margin-bottom: 20px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th, .product-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.product-table th {
    background-color: #f2f2f2;
}

.product-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-table tr:hover {
    background-color: #dddddd;
}